td.title {
    background-color: "#dddddd";
    align: "center";
    font-size: 14pt;
    padding: 5px;
}
td.ordinary {
    background-color: "#eeeeff";
    align: "center";
    font-size: 14pt;
    padding: 5px;
}
h4 {
    color: #cccccc;
    padding: 20px;
}
p {
    font-size: 14pt;
}
body {
    background-image: url(https://oir.mobi/uploads/posts/2021-03/thumbs/1616530491_36-p-prikolnii-fon-41.jpg );
    background-size: 1800px 1000px;
    background-attachment: fixed;
}